*{
    padding: 0;
    margin: 0;
}
.main{

    background-color:#032b6b ;
    color: white;
    width: 100%;
    height: 30px;
    
}
 
 
/* nav */

.nav{
    display: flex;
    justify-content: space-between;
    color: rgb(251, 249, 249);
    background-color: rgb(85, 85, 82);
    /* align-items: center; */
}
.right{
    margin:0px 10px 0px 10px;
    display: flex;
    /* justify-content:space-evenly; */
    align-items: center;
}
.del{
    margin: 10px;

}

.left{
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sto{
    color: white;
    border: none;
    background-color: transparent;
}
.con{
    color: white;
    border: none;
    background-color: transparent;
}

/* first nav end */

/* second allen nav */
.bar{
    display: flex;
    color: #032b6b;
    justify-content: space-evenly;
    align-items: center;
    

}
.order{
    list-style: none;
    display: flex;
    
}
.order>li{
    margin: 0px 10px 0px 10px;
}
.srch{
    text-decoration: underline;
}
.solly{
    width: 10%;
    height: 5%;
}

/* nav end */


/* profile */

.profile{

    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
.prof{
    text-align: center;
}
.prof>img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}




